@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
}

body{
        font-family: 'Papyrus', cursive;
        margin: 0;    
}



   
h1{ font-size:3.5em;} 
h2{ font-size: 2.7em;}
h3{font-size: 2.5em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    font-family: 'Papyrus', cursive;
    color: white;
    background-color: #f78da7;
    cursor: pointer;
}

button:hover{
    background-color:#f3c9d4;
}
.color-acento{
    color:#f78da7;
}

header{
    background-color: rgb(239, 230, 230);
}

.imagenlogo{
    height: 18vh;
    width: 18vw;
    margin: 0;
    padding:0;
    cursor: pointer;   
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 10px;
}

header a{
   padding: 5px 12px;
    font-weight: bold;
    text-decoration: none;
    color:black;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: #f78da7;
   
}

header a:hover{
    color:rgb(111, 106, 106);
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-image:url("../img/menu_tortas.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    

}

#inicio h1{
   color: black;
    font-weight: bold;
    font-size: 4em;
    

}
#inicio .container{
    text-align: center;
    height: 80vh;

}

#descripcion h2{
    font-size: 2.5em;   
}

#descripcion .container{
    text-align: center;
    padding: 100px 10px;
    height: 120vh;
    margin: 40px;

}
.imagen-linea{
    height: 15vh;
    width: 60vw;
    margin: 0;
    padding: 0;
}

#Nuestrastortas{
    background-color:#f78da7;
    color: black;
    text-align: center;

}
#Nuestrastortas .container{
    padding: 50px;

}
#Nuestrastortas h2{
    margin-top: 0;
    font-weight: bold;
    font-size: 2.5em;
}

#Nuestrastortas .tipos{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.tipos:first-child{

    background-image:url("../img/inicio_clasica.t.jpg");

}
.tipos:nth-child(2){
    background-image:url("../img/tortas_3.jpg");

}
.tipos:nth-child(3){
    background-image:url("../img/tortas_saladas_inicio.png");
}


#caracteristicas .container{
    display: flex;
    justify-content: space-evenly;  
    flex-direction:row;
}

#caracteristicas .container1{
    display: flex;
    justify-content: space-evenly;  
    flex-direction:row;
}
 

#caracteristicas .vinetas{
    background-position: center center;
    background-size:cover;
    height: 100vh;
    width: 40vw;
    text-align: center;
    
  }
#caracteristicas  li{
margin: 30px 0px;
  }

#caracteristicas .video{
    background-size: cover;
    background-position: center center;
     margin-right: 10px; 
    border-radius: 10px;
    padding: 10px ;
    height: 95vh;
    width: 40vw;
   margin: 20px;
}

#contactar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#f78da7;
    color: black;
    height: 60vh;

}
#contactar h2{
    font-size: 2.5em;
}
#contactar a{
    text-decoration: none;
    color: white;

}

footer{
    background-color: rgb(230,230,230);

}

.imagen-foter{
    height: 5vh;
    width: 5vw;
    margin: 0;
    padding:0;
    margin: 20px;
}

footer p{
    margin: 0;
    padding: 15px;
    color: rgb(100,100,100);
    font-family: 'Roboto',sans-serif ;
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25vh;
   
}

#inicio-2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    background-image:url("../img/torta-casa-1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;   

}

#inicio-2 h1{
   color: black;
   font-weight: bold;   
   font-size: 3em;

}
#inicio-2 .container{
    text-align: center;
    height: 70vh;
}
#descripcion-2 .container{
    text-align: center;
    padding: 30px 10px;
    height: 90vh;
    margin: 40px;

}
#descripcion-2 h2{
    font-size: 2.5em;
}

#pagina-torta .container{
    display: flex;
    justify-content: space-evenly;
    background-color: #f78da7;
}
#pagina-torta .descripcion-torta{
    background-position: center center;
    background-size: cover;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
}
#pagina-torta .imagen-2{
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    height: 90vh;
    width: 50vw;
    margin: 20px;
}
#inicio-3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    background-image:url("../img/inicio_clasica.t.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;

}

#inicio-3 h1{
    color: black;
    font-weight: bold; 
    font-size: 3em;
}

#inicio-4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    background-image:url("../img/tortas_saladas_inicio.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}

#inicio-4 h1{
    color: black;
    font-weight: bold; 
    font-size: 3em;
}

#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    background-image:url("../img/menu_tortas22.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    
}


#descripcion-contacto h2{
    font-size: 2.5em;  
}
#descripcion-contacto .container{
    text-align: center;
    padding: 70px 10px;
    height: 50vh;
    margin: 40px;

}

#formSec {
  margin: 2rem auto;
  padding: 30px;
  width: 400px;
  background: #ffffff;
  box-shadow: 3px 3px 10px rgba(1, 84, 166, 0.55);
  border-radius: 10px;
  line-height: 1;
  color: black;
  font-weight: bold; 
  
}

 .form {
  margin-bottom: 0.7rem;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  
}
.form-g{
  display: flex;
  margin: 20px 0;
  align-items: flex-end;
  

}

 label {
  color: #3a3a3a;
  font-size: 14px;
}

 input,
 textarea {
  box-shadow: none;
  font-size: 15px;
  background: rgba(196, 196, 196, 0.37);
  border-radius: 10px;
  border: rgba(196, 196, 196, 0.37);
  line-height: 1;
  margin-top: 10px;
  padding: 5px;
  
}

 select {
  box-shadow: none;
  font-size: 14px;
  padding: 6px;
  background: rgba(196, 196, 196, 0.37);
  border-radius: 10px;
  border: rgba(196, 196, 196, 0.37);
  line-height: 1;
  margin-top: 10px;
}


h1 {
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	margin-bottom: 1em;
    
}

.enviar button {
  border: none;
  border-radius: 50px;
	background: #163488;
  width: 150px;
  text-align: center;
  display: none;
  flex-direction: row;
  justify-content: center ;
  margin: 30px auto 0;
	padding: 10px 0;
	font: inherit;
	color: #ecf0f1;
  font-weight: 500;
  cursor: pointer;
}


/* Teléfonos */
@media only screen and (max-width: 575px){
    #caracteristicas .container1{
        display: flex;
        justify-content: space-evenly;  
        flex-direction:column;
       
    }

    #caracteristicas .vinetas{
        background-position: center center;
        background-size: cover;
        padding: 15px;
        height: 90vh;
        width: 70vw;
        text-align: center;
        
        
      }
    
    #caracteristicas .video{
        background-size: cover;
        background-position: center center;
         margin-right: 2px; 
        border-radius: 0px;
        padding: 5px ;
        height: 130vh;
        width: 2vw;
    }
     
    #descripcion h2{
        font-size: 2.5em;   
    }
    
    #descripcion .container{
        text-align: center;
        padding: 30px 10px;
        height: 150vh;
        margin: 40px;


}
header a{
    font-size: 2.5vw;
 }
 #descripcion-2 .container{
    text-align: center;
    padding: 30px 10px;
    height: 110vh;
    margin: 40px;

}
#descripcion-2 h2{
    font-size: 2.5em;
}

#pagina-torta .container{
    display: flex;
    justify-content: space-evenly;
    background-color: #f78da7;
}
#pagina-torta .descripcion-torta{
    background-position: center center;
    background-size: cover;
    padding: 5px;
    margin: 5px;
    text-align: center;
    height: 100vh;
    width: 50vw;
}
#pagina-torta .imagen-2{
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    height: 90vh;
    width: 40vw;
    margin: 10px;}

}
